@tailwind base;
@tailwind components;
@tailwind utilities;

/* .home{
    overflow-y: hidden;
} */

nav {
    color: rgb(180, 161, 142);
    background-color: rgb(8, 101, 113);
}

nav button {
    border-color: rgb(180, 161, 142);
    color: rgb(180, 161, 142);
}

nav button:hover {
    border-color: rgb(240, 215, 189);
    color: rgb(240, 215, 189)
}

nav button.nav-link:hover {
    background-color: rgb(180, 161, 142)
}

.footer {
    position: absolute;
    z-index: -1;
    background-color: rgb(6, 69, 78);
    color: rgb(180, 161, 142);
}

h1 {
    background-color: rgb(8, 101, 113);
    border-color:rgb(240, 215, 189);
    color: rgb(240, 215, 189);
}

h2 {
    background-color: rgb(216, 177, 137);
}

.about-para {
    background-color: rgb(180, 161, 142);
    opacity: 80%;
    border-color: rgb(8, 101, 113);
    width: 48%;
    float: left;
    margin-right: 48%;
    margin-left: 1%;
}

.dtable {
    /* background-color: rgb(4, 226, 204); */
    background-color: rgb(216, 177, 137);
    color: rgb(8, 101, 113);
}

.dtable:hover {
    background-color: rgb(221, 169, 119);
    color: rgb(6, 69, 78);
}

@media only screen and (min-width: 1200px) {
    .home h1 {
        margin-top: -250px;
    }

    .about h1 {
        margin-top: -250px;
    }

    background-image {
        display: flex
    }
}

@media only screen and (max-width: 800px) {
    .dboard {
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 800px) {
    .dboard {
        padding-bottom: 100px;
    }
}